<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <include>Furniture_NowPlaying</include>
        <include>Furniture_Weather</include>
        <control type="group">
            <left>SidePad</left>
            <width>1760</width>
            <top>PosterPad</top>
            <height>652</height>
            <include>Animation.Common</include>
            <control type="image">
                <left>-8</left>
                <right>-8</right>
                <top>-8</top>
                <bottom>-8</bottom>
                <texture border="16" colordiffuse="Panel">common/rounded-shadow8.png</texture>
            </control>
            <control type="group">
                <top>10</top>
                <bottom>10</bottom>
                <right>10</right>
                <left>1220</left>
                <control type="textbox">
                    <top>30</top>
                    <bottom>30</bottom>
                    <right>30</right>
                    <left>30</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
            </control>
            <control type="image">
                <left>1218</left>
                <top>11</top>
                <bottom>11</bottom>
                <width>1</width>
                <texture colordiffuse="Black12">common/white.png</texture>
            </control>           
            <control type="Panel" id="9100">
                <left>0</left>
                <width>1356</width>
                <top>0</top>
                <height>662</height>
                <orientation>horizontal</orientation>
                <itemlayout width="302" height="214">
                    <control type="image">
                        <left>10</left>
                        <top>11</top>
                        <bottom>0</bottom>
                        <width>290</width>
                        <texture colordiffuse="$VAR[ColorSettings]" border="5">common/box.png</texture>
                    </control>
                    <control type="label">
                        <top>129</top>
                        <left>30</left>
                        <right>25</right>
                        <height>50</height>
                        <aligny>center</aligny>
                        <align>center</align>                        
                        <font>Small</font>
                        <textcolor>PanelWhite100</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <top>42</top>                        
                        <left>100</left>
                        <width>106.7</width>
                        <height>106.7</height>
                        <texture colordiffuse="PanelWhite100">$INFO[ListItem.Icon]</texture>
                    </control>                    
                </itemlayout>
                <focusedlayout width="302" height="214">
                    <control type="image">
                        <left>10</left>
                        <top>11</top>
                        <bottom>0</bottom>
                        <width>290</width>                        
                        <texture border="5" colordiffuse="$VAR[ColorHighlight]">common/box.png</texture>
                    </control>
                    <control type="image">
                        <left>10</left>
                        <top>11</top>
                        <bottom>0</bottom>
                        <width>290</width>                        
                        <texture border="8" colordiffuse="$VAR[ColorHighlightOtherBar]">common/gradient-box-wide.png</texture>
                    </control>                    
                    <control type="label">
                        <top>129</top>
                        <left>30</left>
                        <right>25</right>
                        <height>50</height>
                        <aligny>center</aligny>
                        <align>center</align>                        
                        <font>Small</font>
                        <textcolor>PanelWhite100</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <top>42</top>                        
                        <left>100</left>
                        <width>106.7</width>
                        <height>106.7</height>
                        <texture colordiffuse="PanelWhite100">$INFO[ListItem.Icon]</texture>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>14206</label>
                        <label2>31275</label2>
                        <icon>special://skin/extras/icons/paintbrush.png</icon>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                    </item>
                    <item id="2">
                        <label>14202</label>
                        <label2>31276</label2>
                        <icon>special://skin/extras/icons/tags.png</icon>
                        <onclick>activatewindow(MediaSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>14200</label>
                        <label2>31277</label2>
                        <icon>special://skin/extras/icons/equalizer.png</icon>
                        <onclick>activatewindow(PlayerSettings)</onclick>
                    </item>
                    <item id="12">
                        <label>20077</label>
                        <label2>31166</label2>
                        <icon>special://skin/extras/icons/year.png</icon>
                        <onclick>activatewindow(SkinSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <label2>31161</label2>
                        <icon>special://skin/extras/icons/configure.png</icon>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>14036</label>
                        <label2>31164</label2>
                        <icon>special://skin/extras/icons/network.png</icon>
                        <onclick>activatewindow(servicesettings)</onclick>
                    </item>
                    <item id="9">
                        <label>13200</label>
                        <label2>31165</label2>
                        <icon>special://skin/extras/icons/actor.png</icon>
                        <onclick>activatewindow(Profiles)</onclick>
                    </item>
                    <item id="4">
                        <label>24001</label>
                        <label2>31162</label2>
                        <icon>special://skin/extras/icons/addons.png</icon>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                    </item>
                    <item id="10">
                        <label>130</label>
                        <label2>31167</label2>
                        <icon>special://skin/extras/icons/sysinfo.png</icon>
                        <onclick>activatewindow(7)</onclick>
                    </item>
                    <item id="11">
                        <label>19191</label>
                        <label2>31163</label2>
                        <icon>special://skin/extras/icons/livetv.png</icon>
                        <onclick>activatewindow(pvrsettings)</onclick>
                    </item>
                    <item id="5">
                        <label>LibreELEC $LOCALIZE[5]</label>
                        <label2>37827</label2>
                        <icon>special://skin/extras/icons/libreelec.png</icon>
                        <onclick>RunScript(service.libreelec.settings)</onclick>
                        <visible>System.HasAddon(service.libreelec.settings)</visible>
                    </item>
                    <item id="6">
                        <label>CoreELEC $LOCALIZE[5]</label>
                        <label2>37828</label2>
                        <icon>special://skin/extras/icons/coreelec.png</icon>
                        <onclick>RunScript(service.coreelec.settings)</onclick>
                        <visible>System.HasAddon(service.coreelec.settings)</visible>
                    </item>
                    <item id="14">
                        <label>$LOCALIZE[7]</label>
                        <icon>special://skin/extras/icons/filemanager.png</icon>
                        <onclick>ActivateWindow(filemanager)</onclick>
                    </item>
                </content>
            </control>
        </control>
    </controls>
</window>